@using Jobboard.Models;
@using Jobboard.Controllers;
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parcel Pal's</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h2>Title</h2>
  <p>@Model.Title</p>
  <h2>Description</h2>
  <p>@Model.Description</p>
  <h2>Contact Info </h2>
  <p>@Model.ContactInfo</p>
  <a href='/Jobboard'>Refresh Job Board</a>
  </div>
</body>
</html>